<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Numéro de téléphone</string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idCellPhone</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Catégorie du service</string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idCellCategory</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Description du service</string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idCellDescription</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Images</string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idCellImage</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Périmètre du service</string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idCellPerimeter</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Adresse</string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idCellMap</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Temps libre</string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idCellFreeTime</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Statut</string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idCellStatus</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idCellCreateService</string>
		<key>additionalRows</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
