<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Sélectionnez la catégorie du service requis </string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idCellCategory</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Décrivez de quoi vous avez besoin</string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idCellDescription</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Demandez le service pour le</string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idCellDate1</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Date de la fin du service</string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idCellDate2</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idCellRequestService</string>
		<key>additionalRows</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
